.words-list-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #434343;
  border: none;
  border-radius: 20px;
  break-inside: avoid;
  color: #FBB969;
  display: block;
  font-family: "courier-prime", Courier, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  margin: 0 auto 15px;
  max-width: 90%;
  padding: 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0 rgba(67, 67, 67, 0.25);
  transition: background-color 60ms ease, border-color 60ms ease, border-radius 60ms ease, box-shadow 60ms ease, color 60ms ease;
  transition: background-color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), border-color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), border-radius 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), box-shadow 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5);
}
