/* TEXT MIXINS */
/* TEXT PLACEHOLDERS */
h3 {
  font-family: "courier-prime", Courier, sans-serif;
  font-weight: 700; }

h1, h2 {
  font-family: "futura-pt", Futura, sans-serif;
  font-weight: 700; }

* {
  box-sizing: border-box; }

body {
  display: block;
  overflow-x: hidden;
  position: relative; }

body, html {
  background-color: #69abfb;
  color: #434343;
  font-family: "courier-prime", Courier, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
  text-align: left;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


a {
  color: #434343;
  font-weight: 700;
  text-decoration: underline;
  transition: color 60ms ease; }
  a:hover {
    color: #968975;
    cursor: pointer; }

  h1, h2 {
    color: #434343; }

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 10px;
  color: white;
  overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.no-spinners {
  -moz-appearance:textfield;
}

// Disable arrows in number input
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



